.P1 {

    color: orange;
}


span {

    font-weight: bold;
}

.P3 {

    background-image: url("./Images/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg");
    background-repeat: no-repeat;


}